* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#70eb9b, #1458df);
    background-repeat: no-repeat;
    height: 120vh;
}

.Form {
    margin: 40px;
    /* display: grid;
    grid-template-columns: 50% 50%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 3px 3px rgba(97, 96, 96, 0.462);
}

.frm-left,.frm-Right {
    width: 50%;
}

@media (max-width:724px) {
    .frm-left,.frm-Right {
        width: 100%;
    }


}

.Form img {
    width: 100%;
    height: 100%;
}

.Form h1 {
    margin-top: 30px;
    margin-bottom: 20px;

}

input {
    width: 90%;
    border-radius: 30px;
    padding-left: 10px;
    color: #000000;
    height: 40px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border: 2px solid #777;
    font-size: 25px;
}

button {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 30px;
    background-color: #1458df;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 20px;
    width: 90%;
}

button:hover {
    background-color: #051a45;
    color: white;
}

a {
    display: block;
    text-decoration: none;
    color: #1458df;
    cursor: pointer;
    padding-bottom: 30px;
    transition: 0.4s ease;
    font-size: 22px;
}

a:hover {
    color: #80ff00;

}

.prgragh {
    margin-bottom: 20px;
}

[type="text"] {
    display: inline-block;
    width: 45%;
}